<!--Template to show the information of a single site-->
<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= site.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= site.name %></h5>
              <p class="card-text"><%= site.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= site.location %></li>
              <li class="list-group-item">$<%= site.value %></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/sites/<%=site._id%>/edit">Edit</a>
                <form class="d-inline" action="/sites/<%=site._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</a>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
          </div>
    </div>
</div>
